[Unit]
Description=etcd
Documentation=https://github.com/coreos


[Service]
ExecStart=/usr/local/bin/etcd \
  --name {{ ansible_default_ipv4.address }} \
  --cert-file=/etc/etcd/k8s.crt \
  --key-file=/etc/etcd/k8s.key \
  --peer-cert-file=/etc/etcd/k8s.crt \
  --peer-key-file=/etc/etcd/k8s.key \
  --trusted-ca-file=/etc/etcd/ca.crt \
  --peer-trusted-ca-file=/etc/etcd/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-client-urls https://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_default_ipv4.address }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for item in groups['tf-k8s-master'] %}{{ hostvars[item]['ansible_default_ipv4']['address'] }}=https://{{ hostvars[item]['ansible_default_ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target